################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/win32/.vs/wad32x
/win32/Debug
/win32/wad32x/Debug
/win32/testpk3
/win32/BIGDOOR2.raw
/win32/DOOR2_4.lmp
/win32/output.wad
/win32/POL5A0.lmp
/win32/wad32x.vcxproj.user
/win32/what.lmp
/win32/what.raw
/win32/dump
/win32/wad32x/x64/Debug/wad32x.tlog
/win32/wad32x/x64/Debug
/win32
